<div class="container my-5">
    
    <h1 class="mb-3">Products</h1>
    <form class="d-flex" role="search" margin-bottom="40">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        
      </form>
    <table class="table" *ngIf="products && products.length > 0">
        <thead>
            <tr>
                <th>
                    <button class="btn btn-outline-primary btn-sm"
                            (click)="toggleImage()">
                      {{showImage ? "Hide" : "Show"}} Image
                    </button>
                  </th>
            <th>Product</th>
            <th>Code</th>
            <th>Price</th>
            
            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of  filteredProducts">
                <td>
                    <img *ngIf="showImage && product.imageUrl"
                         [src]="product.imageUrl"
                         [title]="product.productName"
                         [style.width.px]="imageWidth"
                         [style.margin.px]="imageMargin">
                  </td>
              
                <td>{{product.productName}}</td>
                <td>{{product.productCode}}</td>
                <td>{{product.price}}</td>
                <td><a [routerLink]="['/products','edit',product.id]">Edit</a></td>
               
                
            </tr>
        </tbody>
    </table>
    <p *ngIf="!products || products.length <0"> no products</p>
</div>
<router-outlet></router-outlet>